
.vs/Library.MVC/v16/Server/sqlite3/storage.ide-shm
.vs/Library.MVC/v16/Server/sqlite3/storage.ide-wal
Library.Application/obj/Debug/netcoreapp3.1/Library.Application.assets.cache
Library.Application/obj/Debug/netcoreapp3.1/Library.Application.csprojAssemblyReference.cache
Library.Application/obj/Library.Application.csproj.nuget.cache
Library.Application/obj/Library.Application.csproj.nuget.dgspec.json
Library.Application/obj/Library.Application.csproj.nuget.g.props
Library.Application/obj/project.assets.json
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.assets.cache
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.csprojAssemblyReference.cache
Library.Domain/obj/Library.Domain.csproj.nuget.cache
Library.Domain/obj/Library.Domain.csproj.nuget.dgspec.json
Library.Domain/obj/Library.Domain.csproj.nuget.g.props
Library.Domain/obj/project.assets.json
Library.Infrastructure/obj/Debug/netcoreapp3.1/Library.Infrastructure.assets.cache
Library.Infrastructure/obj/Debug/netcoreapp3.1/Library.Infrastructure.csprojAssemblyReference.cache
Library.Infrastructure/obj/Library.Infrastructure.csproj.nuget.cache
Library.Infrastructure/obj/Library.Infrastructure.csproj.nuget.dgspec.json
Library.Infrastructure/obj/Library.Infrastructure.csproj.nuget.g.props
Library.Infrastructure/obj/project.assets.json
Library.MVC/obj/Debug/netcoreapp3.1/Library.MVC.assets.cache
Library.MVC/obj/Debug/netcoreapp3.1/Library.MVC.csprojAssemblyReference.cache
Library.MVC/obj/Library.MVC.csproj.nuget.cache
Library.MVC/obj/Library.MVC.csproj.nuget.dgspec.json
Library.MVC/obj/Library.MVC.csproj.nuget.g.props
Library.MVC/obj/project.assets.json
.vs/Library.MVC/DesignTimeBuild/.dtbcache
.vs/Library.MVC/v16/.suo
.vs/Library.MVC/v16/Server/sqlite3/storage.ide
Library.Application/bin/Debug/netcoreapp3.1/Library.Application.dll
Library.Application/bin/Debug/netcoreapp3.1/Library.Application.pdb
Library.Application/bin/Debug/netcoreapp3.1/Library.Domain.dll
Library.Application/bin/Debug/netcoreapp3.1/Library.Domain.pdb
Library.Application/obj/Debug/netcoreapp3.1/Library.Application.csprojAssemblyReference.cache
Library.Application/obj/Debug/netcoreapp3.1/Library.Application.dll
Library.Application/obj/Debug/netcoreapp3.1/Library.Application.pdb
Library.Domain/bin/Debug/netcoreapp3.1/Library.Domain.dll
Library.Domain/bin/Debug/netcoreapp3.1/Library.Domain.pdb
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.csproj.FileListAbsolute.txt
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.csprojAssemblyReference.cache
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.dll
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.pdb
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Application.dll
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Application.pdb
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Domain.dll
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Domain.pdb
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Infrastructure.dll
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Infrastructure.pdb
Library.Infrastructure/obj/Debug/netcoreapp3.1/Library.Infrastructure.csprojAssemblyReference.cache
Library.Infrastructure/obj/Debug/netcoreapp3.1/Library.Infrastructure.dll
Library.Infrastructure/obj/Debug/netcoreapp3.1/Library.Infrastructure.pdb
Library.MVC/obj/Debug/netcoreapp3.1/Library.MVC.csprojAssemblyReference.cache
.vs/Library.MVC/DesignTimeBuild/.dtbcache
.vs/Library.MVC/v16/.suo
.vs/Library.MVC/v16/Server/sqlite3/storage.ide
Library.Application/bin/Debug/netcoreapp3.1/Library.Application.dll
Library.Application/bin/Debug/netcoreapp3.1/Library.Application.pdb
Library.Application/bin/Debug/netcoreapp3.1/Library.Domain.dll
Library.Application/bin/Debug/netcoreapp3.1/Library.Domain.pdb
Library.Application/obj/Debug/netcoreapp3.1/Library.Application.csprojAssemblyReference.cache
Library.Application/obj/Debug/netcoreapp3.1/Library.Application.dll
Library.Application/obj/Debug/netcoreapp3.1/Library.Application.pdb
Library.Domain/bin/Debug/netcoreapp3.1/Library.Domain.dll
Library.Domain/bin/Debug/netcoreapp3.1/Library.Domain.pdb
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.csproj.FileListAbsolute.txt
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.csprojAssemblyReference.cache
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.dll
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.pdb
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Application.dll
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Application.pdb
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Domain.dll
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Domain.pdb
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Infrastructure.dll
Library.Infrastructure/bin/Debug/netcoreapp3.1/Library.Infrastructure.pdb
Library.Infrastructure/obj/Debug/netcoreapp3.1/Library.Infrastructure.csprojAssemblyReference.cache
Library.Infrastructure/obj/Debug/netcoreapp3.1/Library.Infrastructure.dll
Library.Infrastructure/obj/Debug/netcoreapp3.1/Library.Infrastructure.pdb
Library.MVC/obj/Debug/netcoreapp3.1/Library.MVC.csprojAssemblyReference.cache
Library.Application/obj/Debug/netcoreapp3.1/Library.Application.assets.cache
Library.Application/obj/Debug/netcoreapp3.1/Library.Application.csprojAssemblyReference.cache
Library.Application/obj/Library.Application.csproj.nuget.cache
Library.Application/obj/Library.Application.csproj.nuget.dgspec.json
Library.Application/obj/Library.Application.csproj.nuget.g.props
Library.Application/obj/project.assets.json
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.assets.cache
Library.Domain/obj/Debug/netcoreapp3.1/Library.Domain.csprojAssemblyReference.cache
Library.Domain/obj/Library.Domain.csproj.nuget.cache
Library.Domain/obj/Library.Domain.csproj.nuget.dgspec.json
Library.Domain/obj/Library.Domain.csproj.nuget.g.props
Library.Domain/obj/project.assets.json
Library.Infrastructure/obj/Debug/netcoreapp3.1/Library.Infrastructure.assets.cache
Library.Infrastructure/obj/Debug/netcoreapp3.1/Library.Infrastructure.csprojAssemblyReference.cache
Library.Infrastructure/obj/Library.Infrastructure.csproj.nuget.cache
Library.Infrastructure/obj/Library.Infrastructure.csproj.nuget.dgspec.json
Library.Infrastructure/obj/Library.Infrastructure.csproj.nuget.g.props
Library.Infrastructure/obj/project.assets.json
Library.MVC/obj/Debug/netcoreapp3.1/Library.MVC.assets.cache
Library.MVC/obj/Debug/netcoreapp3.1/Library.MVC.csprojAssemblyReference.cache
Library.MVC/obj/Library.MVC.csproj.nuget.cache
Library.MVC/obj/Library.MVC.csproj.nuget.dgspec.json
Library.MVC/obj/Library.MVC.csproj.nuget.g.props
Library.MVC/obj/project.assets.json

Library.Infrastructure/Migrations
