@model Library.MVC.Models.MemberIndexVm

@{
    ViewData["Title"] = "Index";
}

<h1>Medlemmar</h1>

<p>
    <a asp-action="Create">Lägg till ny medlem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>SSN</th>
            <th>Namn</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SSN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
