@model Library.MVC.Models.AuthorIndexVm

@{
    ViewData["Title"] = "Index";
}

<h1>Författare</h1>

<p>
    <a asp-action="Create">Lägg till ny författare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Böcker</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Authors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Books)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
