@model Library.MVC.Models.LoanMakeVm
@{
    ViewData["Title"] = "Loan";
}

<div>
    <h4>Låna bok</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ISBN
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Details.Title)
        </dd>
        <dt class="col-sm-2">
            Titel
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.MemberId)*@
        </dd>
        <dt class="col-sm-2">
            Författare
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfLoan)
        </dd>
        <dt class="col-sm-2">
            Beskriving
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfReturn)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Books" asp-action="Index">Tillbaka</a>
</div>
