@model Library.MVC.Models.LoanMakeVm

@{
    ViewData["Title"] = "Låna";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Make">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h4>@Html.DisplayFor(model => model.Book.Title)</h4>
            </div>
            <div class="form-group">
                <label asp-for="Members" class="control-label"></label>
                <span asp-validation-for="MemberId" class="text-danger"></span>
                <select asp-for="MemberId" class="form-control" asp-items="Model.Members"></select>
                <div>
                    <a asp-controller="Members" asp-action="Create">Registrera ny medlem</a>
                </div>
            </div>
            <div class="form-group">
                <b>Datum vid utlånande: </b>
                <span asp-validation-for="MemberId" class="text-danger"></span>
                @Html.DisplayFor(model => model.DateOfLoan)
            </div>
            <div class="form-group">
                <b>Returneras senast: </b>
                <span asp-validation-for="MemberId" class="text-danger"></span>
                <text asp-for="MemberId" asp-items="Model.DateOfReturn"></text>

                @Html.DisplayFor(model => model.DateOfReturn)
            </div>
            <div class="form-group">
                <a asp-controller="Books" asp-action="Index" class="btn btn-danger">Tillbaka</a>
                <input type="submit" value="Låna" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

